.sale-page {
  width: 100%;
  display: flex;
  justify-content: center;

  &__body {
    width: 100%;
    margin-top: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      margin-bottom: 10px;
    }

    .select-input {
      width: 400px !important;
    }

    .data-container {
      width: calc(100% - 40px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 32px;

      &__row {
        display: grid;
        grid-template-columns: 1fr 800px;
      }

      &__col {
        display: grid;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;

        .pieChart {
          width: 400px !important;
          height: 400px !important;
        }
      }

      .ant-pagination {
        display: none;
      }
    }
  }
}
