.sale-page {
  width: 100%;
  display: flex;
  justify-content: center;

  &__body {
    width: 100%;
    margin-top: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      margin-bottom: 10px;
    }

    .select-input {
      width: 400px !important;
    }

    .data-container {
      width: calc(100% - 40px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 32px;

      &__row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__col {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
